body{
    margin: 0px;
    padding: 0px;
}
.header {
    display: flex;
    color: green;
    flex-direction: column;
    background-image: url("./ethnography_pics/pic1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 40vw;
    
    align-items: center;
}

.header h1 {
    flex: 2;
    color: #0b3647;
    font-weight: bold; /* Makes the header text bold */
    font-size: 3rem; /* Adjust font size as needed */
}

.header h2 {
    flex: 2;
    margin-top: 50px;
    color: #89a7b2;
    font-weight: bold; /* Bold for emphasis */
    font-size: 2.5rem; /* Adjust font size as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds subtle shadow */
}

.header h3 {
    flex: 1;
    color: #89a7b2;
    font-weight: bold; /* Bold for emphasis */
    font-size: 2rem; /* Adjust font size as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds subtle shadow */
}
.header h4 {
    flex: 4;
}


.content{
    display: flex;
    width: 100vw;
    align-items: center;
    background-color: #365c65
}
.blog_container{
    flex: 3;
    background-color: #89a7b2;
}
.photowall{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #365c65;
    min-height: 74;
    
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}
.photowall .photo{
    width: 100%
}
.blog_title{
    color: #fdf6e5;
    margin: 0px;
    font-size: 2em;
    min-height: 74;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
p{
    margin: 10px;
    color: #fdf6e5
}

.blog_text{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.blog_text button{
    width: calc(100% - 20px); /* Ensures the button stretches to fill the container with margins */
    margin-left: 10px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #fdf6e5;
    opacity: .7;
    border: 0px;
    color: #0b3647;
    font-size: 1.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.blog_text button:hover{
    background-color: gray;
}

.button_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dropdown{
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: height 0.3s ease, visibility 0.3s ease;
}

.visible{
    height: auto;
    visibility: visible;
    transition: height 0.3s ease, visibility 0.3s ease;
    background-color: #365c65;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.blog_header{
    display: flex;
    flex-direction: row;
    background-color: #365c65;
}

.second_row{
    display: flex;
}

.blog_text{
    flex: 9
}

.photowall{
    flex: 4
}

.blog_title{
    flex: 9;
}
.blog_title p{
    margin-left: 100px;
    margin-right: 100px;
}
.photowall_text{
    flex: 4;
    text-align: center;
    color:#fdf6e5;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.photo_subtitle{
    color: #fdf6e5;
    padding-left: 40px;
    padding-right: 40px;
}

.footer{
    display: flex;
    color: green;
    flex-direction: column;
    background-image: url("./ethnography_pics/surfbroke.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 30vw;
    
    align-items: center;
}

button p{
    color:#0b3647;
    font-weight: 900;
}

.blog_text p::first-letter{
 color: #0b3647;
 font-size: 2em;
 font-weight: 600;
}
.blog_text .visible p::first-letter{
    color: #89a7b2;
    font-size: 2em;
    font-weight: 600;
   }